.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
display: grid;
grid-template-columns: 50px 50px 50px 50px ;
grid-row: 70px 70px 70px 70px 70px ;
padding: 15px;
/*border: solid blue;*/
border-radius: 15px;
background: rgb(176, 190, 199);
box-shadow: 15px 10px 5px 5px rgb(44, 44, 44);
border-radius: 15px;
}
/*#num5{
    border: solid blue;
    padding: 10px 5px 20px 7px;
    margin: 10px 5px 20px 7px;
}*/
.display{
    grid-column: span 4;
    padding: 15px;
    background: rgb(128, 128, 159);
    border-radius: 15px;
    text-align: right;
    margin-bottom: 5px;
    color: black;
    font-size: 35px;
    border: groove;
    border-color:rgb(128, 128, 159) ;
}
button{
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    border: dotted dashed solid double;
    border-color: rgb(80, 110, 124);
    background-color: rgb(211, 221, 228);
    font-size: 25px;
    color: black;
    box-shadow: 3px 2px 2px 2px rgb(44, 44, 44);
}
button:hover{
    background-color: rgb(171, 179, 184);
}

button:active{
    background-color: rgb(183, 191, 196);
}
