
*{
    text-align: center; 
}
header h1 {
    color: white;
    background-color: rgb(14, 112, 224);
   
    padding: 10px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}


nav h1 {
    background-color: rgb(134, 132, 8);
    padding: 2px;
}

nav ul {
    color: aliceblue;
    list-style: none;
    
    padding: 10px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 10;
    text-decoration: none;
}

nav ul col a {
    
    
    padding: 10px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-decoration: none;
}


section h2 {
    color: white;
    background-color: rgb(13, 86, 170);
   
    padding: 10px;
}

section h3 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}

section p {
    font-family: sans-serif;
    
}


section li {
    
    list-style: none;
}

section li button {
    background-color: rgb(19, 50, 155);
    color: aliceblue;
    
    padding: 10px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 10;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

section li button:hover {
    background-color: rgb(14, 40, 120); 
}

.titulos{
    color: green;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
   
}
#id_pie_pagina_uce{
    color: navajowhite;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blueviolet;
}
/*img[src="valorqueyoquiera"]{
    width: 200px;
    height: 300px;
}*/
img[src*=".png"]{
    width: 200px;
    height: 300px;
}

input[type]{
    background-color: cornflowerblue;
}
.titulos:hover{
    color:yellow;
    background-color: black;
}

/*Combinacion de selectores*/
h1,h3,h5{
    color: antiquewhite;
    background-color: aquamarine;
}